$HeaderHeight: 50px;

.Header{
    width: 100%;
    height: $HeaderHeight;
    display: flex;
    font-family: $Text;
    justify-content: space-between;
    color: $MainThemeColorText;
    position: fixed;
    background-color: white;
    z-index: 11;
}
.Logo{
    width: 100px;
    height: $HeaderHeight;
    background-color: rgb(235, 218, 65);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin: 0px;
    }
}