@import "./Burger-menu/Burger-menu.scss";


.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content; 
    @media(max-width:$phoneWidth){
        flex-direction: row-reverse;
    }
}

.NavigationItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    @media(max-width:$phoneWidth){
            visibility: hidden;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 50px;
            right: -100%;
            transition: 300ms ease-in;
            height: 600px;
    }


}

.Navigation__item{
    margin: 0px 20px ;
}

.tel {
    margin: 0px 55px;
    font-weight: 600;
}
.isOpen {
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: aliceblue;
    
    transition: 300ms ease-in;
    visibility: visible;
    right: 0px;
}