$Text:'Oswald', sans-serif;
$tabWidth:828px;
$phoneWidth:450px;
$oldDesktopWidth:1200px;
$MainThemeColorText: rgb(44, 44, 44);
$MainThemeColor: rgb(235, 218, 65);
$MainThemeBackGroundColor: white;

@import "./MainSection/serviceSection/serviceSection.scss";
@import "./Header/Header.scss";
@import "./Header/Navigation/Navigation.scss";
@import "./MainSection/introSection/introSection.scss";
@import "./MainSection/pc-repairSection/pc-repair.scss";
@import "./MainSection/websiteSection/websiteSection.scss";
@import "./Footer/Footer.scss";
@import "./MainSection/pricesComponents/prices.scss";


html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    color: $MainThemeColorText;
    
}
body{
    margin: 0px auto;  
    font-family: $Text;
}
a{
    text-decoration: none;
}

.priceColor {
   color: $MainThemeColor; 
   font-size: x-large;
}