.pricesContainer{
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid white 5px;
    border-radius: 20px;
    margin: 10px 0px;

    @media (max-width:$tabWidth) {
        width: 98%;

    }

    p{
        margin: 5px 0px;
    }


}

.price{
    width: 100px;
    @media (max-width:$tabWidth) {
        width: 70px;
    }
}

.serviceName{
    margin-left: 15px;
}

.serviceSectionPricesTable{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.serviceSectionPricesContainer{
    width: 100%;
    height: 50vh;
    background-color:rgb(218 218 218);
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px 35px 0px 0px;
    @media (max-width:$tabWidth) {
        height: fit-content;
    }

}